<h1>Diversity Philosophy</h1>

<p>
  I have been extremely fortunate in my academic career to have had mentors,
  both men and women, who have promoted my progress as a woman in science.
  Because of this privilege, I was not always aware of the issues facing
  underrepresented groups in STEM fields, even my own. As a first-year graduate
  student, I began attending events hosted by Duke Women in Science and Engineering
  (WiSE). The painful stories of discrimination I heard there were shocking to me,
  and changed my perception of the culture I lived in: I wanted to become an active
  'voice in the Duke community on behalf of women. My subsequent work with WiSE has
  taught me about leadership and the importance of being an ally, lessons that I apply
  in my classroom. In my role as a teacher and mentor, diversity means meeting students
  where they are: building trust, developing the skills they need to succeed, and
  advocating for them when they need support.
</p>

<p>
  In my third year, I became the WiSE program coordinator. I was the point person
  for all WiSE events and initiatives, a role that I returned to in my fifth year.
  Our conversations and goals have shifted in focus over these several years. Early
  on, we functioned as a support group, a safe space for women to share their
  experiences. Book groups and panel discussions often lead to personal anecdotes of
  struggles with sexual harassment and discrimination. It could be very frustrating;
  we talked endlessly about these problems without generating new solutions. However,
  I can see now that we were building community, creating a network of women who
  could confide in and validate one other. WiSE became a trusted ally for women in
  the sciences here at Duke.
</p>

<p>
  We began to focus on helping our fast-growing membership gain skills for success in
  the academy: We invited speakers to advise us on negotiating fair salaries, producing
  impeccable job materials, and cultivating strong mentors. We worked with on-campus
  resources to help our members find research funding, and brought in a consultant to
  lead assertiveness training. In short, we colored inside the lines, asking, “How can
  we, as women, do better?” In doing so, I believe that we provided important services
  to our members, but perhaps more critically, we built a reputation for WiSE as a
  constructive and effective student organization.
</p>

<p>
  In 2016, my co-coordinator and I decided to take that reputation to the bank and ask
  the university how they could do better for women. During a discussion on diversity
  in STEM, our panel of Duke administrators, all with personal and professional
  experience with underrepresented groups, were surprised to hear our stories. These
  stories, commonplace among grad students, had never reached professors and administrators. 
  In response, my co-coordinator and I wrote and distributed a survey asking our members to
   describe their experiences with harassment at Duke, whether and to whom they had reported,
   and what obstacles they faced. We brought these results to Duke’s Office of Institutional
   Equity, and we are currently working with leaders there to adapt Duke’s reporting system.
   We also joined the Council of Presidents, a new committee of student leaders that meets
   regularly with Graduate School administration.
</p>

<p>
  WiSE has evolved to advocate not only for women but for all people of diverse identities
  working in the sciences. In joining forces with other minority groups, I have heard their
  perspectives on race, economic disadvantage, and gender issues, which had previously seemed
  foreign to me. Now I understand that the struggles and successes of all minority groups
  are interconnected, and that we must work together to build a more inclusive academic
  culture. As a teacher and mentor, I speak openly to my students about these experiences
  and encourage them to bring their whole identities to their work: We will all be stronger
  for it.
</p>
