<h1>Student Evaluations</h1>

<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2016/12/boehm_courseevals_fall16.xlsx">Primate Conservation Evaluations: Fall 2016</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2017/02/boehm_midterm_evals_2016.pdf">Primate Conservation Midterm Evaluations: Fall 2016</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2017/02/evals_summer15.pdf">Primate Field Biology: Summer 2015</a></p>
<div class="container" id="contact">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="footer-icon" href="mailto:boehm.emily@gmail.com">
          <i class="far fa-envelope fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://goo.gl/maps/jNJpYs38ZC12">
          <i class="fas fa-map-marker-alt fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.linkedin.com/in/emily-boehm">
          <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.instagram.com/emilina999">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
