<h1>Home</h1>
<h2>Biography</h2>
<img src="https://emilyelizabethboehm.files.wordpress.com/2016/11/boehm_cropped.jpg?w=502&h=502" alt="Dr. Emily Boehm">
<p>I am an evolutionary anthropologist committed to
  excellence in STEM teaching and learning. My
  primary aims as a teacher are to inspire inquiry,
  build strong verbal and written communication
  skills, and foster an inclusive classroom for diverse
  student identities.
</p>
<p>
  As a researcher with <a href="https://evolutionaryanthropology.duke.edu/research/anne-pusey-lab">Anne Pusey</a>
  at Duke’s <a href="https://evolutionaryanthropology.duke.edu/">Department of Evolutionary Anthropology</a>,
  I study female reproductive behavior and endocrinology
  in wild female chimpanzees of Gombe National Park, TZ.
</p>
<h2>Contact</h2>
<p><a href="https://www.linkedin.com/in/emily-boehm">LinkedIn</a></p>
<p>
  emily_DOT_boehm_AT_duke_DOT_edu
  <br>
  Duke Biological Sciences Building
  <br>
  130 Science Drive
  <br>
  Box 90383
  <br>
  Durham, NC 27708
</p>
