<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://s31.postimg.cc/9n87daz4b/DSC00513_edit.png" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="https://s31.postimg.cc/6uezsw8y3/DSC00420_edit.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="https://s31.postimg.cc/40bufk1nv/BAH_portrait_edit.png" alt="Third slide">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1>
                        Emily Boehm</h1>
                    <h3>
                        Empowering students to engage with science
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="push">
</div>

<h1>Biography</h1>
<img src="https://emilyelizabethboehm.files.wordpress.com/2016/11/boehm_cropped.jpg?w=502&h=502" alt="Dr. Emily Boehm">
<p>I am an evolutionary anthropologist committed to
  excellence in STEM teaching and learning. My
  primary aims as a teacher are to inspire inquiry,
  build strong verbal and written communication
  skills, and foster an inclusive classroom for diverse
  student identities.
</p>
<p>
  As a researcher with <a href="https://evolutionaryanthropology.duke.edu/research/anne-pusey-lab">Anne Pusey</a>
  at Duke’s <a href="https://evolutionaryanthropology.duke.edu/">Department of Evolutionary Anthropology</a>,
  I study female reproductive behavior and endocrinology
  in wild female chimpanzees of Gombe National Park, TZ.
</p>
<h2>Contact</h2>
<p><a href="https://www.linkedin.com/in/emily-boehm">LinkedIn</a></p>
<p>
  emily_DOT_boehm_AT_duke_DOT_edu
  <br>
  Duke Biological Sciences Building
  <br>
  130 Science Drive
  <br>
  Box 90383
  <br>
  Durham, NC 27708
</p>
