<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://s31.postimg.cc/9n87daz4b/DSC00513_edit.png" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="https://s31.postimg.cc/6uezsw8y3/DSC00420_edit.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="https://s31.postimg.cc/40bufk1nv/BAH_portrait_edit.png" alt="Third slide">
                    </div>
                </div>
            </div>
            <div class="main-text hidden-xs">
               <div class="col-md-12 text-center" id="name-mission">
                   <h1>
                       Emily Boehm</h1>
                       <hr>
                   <h3>
                       Empowering students to engage with science
                   </h3>
               </div>
           </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="col-md-4" id="biopic">
    <img src="https://emilyelizabethboehm.files.wordpress.com/2016/11/boehm_cropped.jpg?w=502&h=502" alt="Dr. Emily Boehm">
  </div>
  <div class="col-md-6" id="bio">
    <h1>Biography</h1>
    <p>I am an evolutionary anthropologist committed to
      excellence in STEM teaching and learning. My
      primary aims as a teacher are to inspire inquiry,
      build strong verbal and written communication
      skills, and foster an inclusive classroom for diverse
      student identities.
    </p>
    <p>
      As a researcher with <a href="https://evolutionaryanthropology.duke.edu/research/anne-pusey-lab">Anne Pusey</a>
      at Duke’s <a href="https://evolutionaryanthropology.duke.edu/">Department of Evolutionary Anthropology</a>,
      I study female reproductive behavior and endocrinology
      in wild female chimpanzees of Gombe National Park, TZ.
    </p>
  </div>
</div>

<div class="container">
  <div class="col-md-10" id="cv">
      <iframe class="scribd_iframe_embed" title="Emily Boehm CV.apr2018" src="https://www.scribd.com/embeds/379717685/content?start_page=1&view_mode=scroll&access_key=key-fgKnXovZCMJCG8QAsLaQ&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7729220222793488" scrolling="no" id="doc_70029" width="100%" height="600" frameborder="0"></iframe>
  </div>
</div>
<div class="container" id="contact">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="footer-icon" href="mailto:boehm.emily@gmail.com">
          <i class="far fa-envelope fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://goo.gl/maps/jNJpYs38ZC12">
          <i class="fas fa-map-marker-alt fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.linkedin.com/in/emily-boehm">
          <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.instagram.com/emilina999">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
