<h1>Teaching Materials</h1>

<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2018/01/sociobiology-syllabus-2018.pdf">Sociobiology: Spring 2018 Syllabus</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2018/01/ev-anth-101-syllabus-fall-2017.pdf">Introduction to Evolutionary Anthropology: Fall 2017 Syllabus</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2016/12/spring2017_evanth359_sylllabus.pdf">Primate Conservation: Spring 2017 Syllabus</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2016/12/144l-syllabus-summer-2015.pdf">Primate Field Biology Syllabus: Summer 2015</a></p>
<p><a target="_blank" href="https://emilyelizabethboehm.files.wordpress.com/2016/12/boehm_syllabus_bass_ior.pdf">Women in Primatology: Proposed Syllabus</a></p>
