<h1>Teaching Philosophy</h1>
<p>
  Biology is a science full of stories: Gripping, compelling, heart-wrenching stories.
  And yet, students often condemn or reject STEM courses as dry or rote. As a teacher in
  Evolutionary Anthropology, my work is to help students find their fascination with
  science and envision themselves as part of the narrative. For that to happen, students
  must be able to do two things: to access and engage with course content, no matter
  their background; and to retain that course content beyond the end of the semester. I
  am committed to structuring my courses around evidence-based teaching practices
  that promote achievement of these goals. My teaching philosophy is to build inclusive
  courses that lead to lifelong learning.
</p>

<p>
Students vary in their preparedness for college, and in their ability to excel in particular
modalities. My courses incorporate diverse pathways for students to access content and be
assessed on their knowledge. For example, in my Primate Conservation seminar, students’
grades are largely based on participation, but participation is more than just speaking in
class. In fact, research has shown that requiring out-loud participation disadvantages students
from marginalized groups who may feel resistant to speaking in class (White, 2011). Instead,
my students post discussion questions in an online forum ahead of our meeting, explore these
questions in groups of three or four, then generate new questions to pose to the larger group.
I regularly asked students to provide quick, instant feedback on my teaching practices
(Nilson, 2016). Across semesters, some students reported that they preferred the online forum,
while others valued the small-group discussions, and still others got the most out of conversations
with the whole class. This result demonstrated to me that I was effectively structuring my class
to allow all students to participate and demonstrate their learning (Tanner, 2013).
</p>

<p>
  My inclusive teaching methods emphasize multiple, low-stakes assessments instead of a small
  number of high-stakes assessments. This approach minimizes test anxiety, including the effect
  of stereotype threat for marginalized students (UMichigan Inclusive Teaching Blog, 2017). It
  also provides students with more practice in developing skills. I have redesigned Sociobiology
  for the spring semester to meet these needs. Instead of a lecture course with three large exams,
  my course is centered on active learning and a variety of assessments throughout the semester.
  These include independent responses and group work, with written, oral, and visual components.
  Students will have repeated, low-stakes opportunities to demonstrate proficiency in the course
  content across a variety of modalities. This creates a more inclusive classroom.
</p>

<p>
  Another approach I use to make my teaching more inclusive is to emphasize and address differences
  among my students. First-generation students, for example, are less likely to take advantage of
  university resources like tutoring and psychological support services. Ignoring these differences
  only exacerbates their downstream effects (Stephens et al., 2014). In my Introduction to Evolutionary
  Anthropology class, I asked students to write a one- or two-sentence summary of their high school education,
  then list one strength and one weakness associated with that experience. I started by modeling the
  exercise using my own background, pointing out the advantages and disadvantages of my education in
  a small, private high school. This exercise leads students to consider their own needs and to see
  their unique background as part of who they are as a learner. Highlighting and addressing
  background-specific obstacles closes the achievement gap between first- and continuing-generation
  freshmen (Stephens et al., 2014). Although the structural roots of inequity in education are deep,
  we as educators can make small adjustments to help our students achieve success.
</p>

<p>
  Despite our best efforts, research shows that retention of course content after the end of the semester
   is extremely low (Arum et al., 2012). Active learning improves retention and facilitates higher-level
   learning. But students can be resistant to active learning, and even penalize professors in their
   course evaluations in response (Nilson, 2016). I have found that transparency with my students wins
   their support for active learning. When I introduce a new approach, I explain why I have chosen it and
   provide citations in support. Learning objectives are another important component of transparency.
   Providing learning objectives for the course as a whole and for each meeting or assignment demystifies
   'the learning process for students (Nilson, 2016). In Introduction to Evolutionary Anthropology, I
   included learning objectives in an early slide of each lecture, then used these as a framework for
   writing exam questions. The objectives helped students organize their notes and focus on key concepts
   and skills.
</p>

<p>
  To increase retention beyond the final exam, I use affective, formative assessments throughout the
  semester. For example, in Introduction to Evolutionary Anthropology, I periodically asked students to
  respond to open-ended, non-factual questions about the material using notecards: “What is one thing
  you learned in lecture today that relates to your life outside this class?” or “What is one idea you’ve
  encountered in another class that connects to our discussion today?” Some students connected medical
  ethics or conservation concerns to our discussions of ape cognition. Others simply recounted trips to
  the zoo as a child, pleased to now be able to identify the primates they saw there. Many referenced
  their faith, and the complicated feelings they had during our discussion of human evolution. These
  affective questions allow students to explore the relevance of course material to their lives, thereby
  improving the significance of the learning experience and increasing retention (Fink, 2013).
</p>

<p>
  Like affective assessments, creating community within the classroom helps students connect course
  content to knowledge and experience outside the course (Fink, 2013). I am implementing this technique
  in my Sociobiology class this semester. Three group assessments will require students to collaboratively
  design mini-lessons on key concepts, then break out to deliver these lessons to their classmates. This
  structure guides students to achieving success as a group, rather than as individuals. (As an added
  bonus, peer-to-peer teaching is a highly effective learning technique). Creating community within the
  classroom increases the relevance of course content and increases retention after the course has ended.
</p>

<p>
  My teaching philosophy is based on my belief that I am responsible for creating courses that are
  accessible to all students and will make a lasting impact on their lives. The examples I’ve given
  here are just a small portion of the techniques I employ to meet this responsibility. I look forward
  to continuing my own education and discovering new ways to bring excellent STEM education to undergraduates.
</p>

<h2>References</h2>

<p>
  Admin, 2017. Inclusive Teaching: Stereotype Threat [WWW Document]. University of Michigan College of
  Literature, Science, and the Arts. URL sites.lsa.umich.edu/inclusive-teaching
</p>

<p>
  Arum, R., Roksa, J., Cho, E., 2012. Improving Undergraduate Learning: Findings and Policy Recommendations
  from the SSRC-CLA Longitudinal Project.
</p>

<p>
  Fink, L.D., 2013. Creating Significant Learning Experiences: An Integrated Approach to Designing College
  Courses, 2nd ed. Jossey-Bass.
</p>

<p>
  Nilson, Li., 2016. Teaching at Its Best, 4th ed. Jossey-Bass.
</p>

<p>
  Stephens, N.M., Hamedani, M.Y.G., Destin, M., 2014. Closing the Social-Class Achievement Gap: A
  Difference-Education Intervention Improves First-Generation Students’ Academic Performance and All
  Students’ College Transition. Psychological Science. 25, 943–953.
</p>

<p>
  Tanner, K.D., 2013. Structure matters: Twenty-one teaching strategies to promote student engagement
  and cultivate classroom equity. CBE Life Sciences Education. 12, 322–331.
</p>

<p>
  White, J.W., 2011. Resistance to classroom participation: Minority students, academic discourse, cultural
  conflicts, and issues of representation in whole class discussions. Journal of Language, Identity and
  Education. 10, 250–265.
</p>
<div class="container" id="contact">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="footer-icon" href="mailto:boehm.emily@gmail.com">
          <i class="far fa-envelope fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://goo.gl/maps/jNJpYs38ZC12">
          <i class="fas fa-map-marker-alt fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.linkedin.com/in/emily-boehm">
          <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
        <a class="footer-icon" target="blank" href="https://www.instagram.com/emilina999">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
